@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap"); */
.dark {
  background-color: #111828;
  color: white;
}
/* button[aria-selected="true"]::after {
}*/
button[aria-selected="true"] {
  border-color: #150050;
  color: #150050;
}
button[aria-selected="true"].dark {
  border-color: #150050;
  color: #150050;
}
.intl-tel-input .country-list .flag-box,
.intl-tel-input .country-list .country-name {
  color: black;
}
.country-name {
  color: black;
}
.intl-tel-input .flag-container .arrow.down:after {
  color: black;
}
.InputContainer .InputElement {
  color: white;
}
